hr_analytics
wns-analytics-wizard-2018-master
.ipynb_checkpoints
.RData
.Rhistory
.Rproj.user/
.~lock.HR Analytics.docx#
format.txt
hr_analytics.r
insurance.csv
insurance.zip
iris.csv
iris.csv.save
nascom_data_analytics.Rproj
test.csv
test.nb.html
test.Rmd
`:
